@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/* font from google name - open Sans */
.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
.hader{
  background-image: url(../images/developer.png),url(../images/header_bg.png);
   background-repeat: no-repeat;
   background-color:  rgb(255, 248, 243);
   background-position: top left, bottom right;
}
.sec-title{
  font-size: 31px;
  font-weight: bold;
  color: black;
  
}
.sec-dep{
  font-size: 14px;
  color: rgb(117, 117, 117);
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 180px;

}
.btn-pri{
  border-radius: 5px;

background: rgb(253, 110, 10);
border: none;
color: aliceblue;
color: rgb(255, 255, 255);
 font-size: 20px;
font-weight: 700;
padding: 18px 30px;
border-radius: 5px;
}
.nav-title{
   
font-size: 40px;
font-weight: 800;
line-height: 61px;
letter-spacing: 0%;
text-align: left;
}
.only-r{
  color: rgb(253, 110, 10);
}
nav ul{
  display: flex;
  align-items: center;
}
nav ul li{
  list-style: none;
  margin-right: 45px;
}
nav ul li a{
  text-decoration: none;
  font-size: 20px;
  color: rgb(71, 71, 71);
}
/* banner style's */
.bnr-s-title{
color: rgb(71, 71, 71);
font-family: Open Sans;
font-size: 40px;
font-weight: 600;
line-height: 61px;
 
 
}
.bnr-title{
color: rgb(24, 24, 24);
font-family: Open Sans;
font-size: 70px;
font-weight: 700;
line-height: 116px;
 
}
.bnr-dep{
  color: rgb(117, 117, 117);
font-family: Open Sans;
font-size: 18px;
font-weight: 400;
line-height: 30px;
 
}
.banner{
  display: flex;
  justify-content: space-between;
  margin: 0 30px 0 160px;
}

 
main{
  width: 1000px;
  margin: 0 auto;
}
/* about me */
.about-me{
  border-radius: 10px;
  padding: 60px 150px;
  text-align: center;
  background-color: rgb(255, 248, 243);
  margin-top: 95px;
}
.a-dep{
color: rgb(117, 117, 117);
font-family: Open Sans;
font-size: 14px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: center;
}
.ab-un{
  display: flex;
   
  justify-content: center;
  gap: 40px;
}
.ab-un p{
 color: rgb(117, 117, 117);
font-family: Open Sans;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: center;
}
.ab-un h6{
  font-family: Open Sans;
font-size: 16px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0%;
text-align: center;
}
/* what-i-do */
.what-i-do{
  padding-top: 90px;
  text-align: center;

}
.what-i-do h3{
  margin-top: 90px;
color: rgb(24, 24, 24);
font-family: Open Sans;
font-size: 28px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: center;
}
.what-i-do p{
color: rgb(117, 117, 117);
font-family: Open Sans;
font-size: 14px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: center;
}
.ww-main{
  display: flex;
  gap: 18px;
}
.w-box{
  border-radius: 5px;

box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
background: rgb(255, 255, 255);
padding: 26px;
text-align: left;
}
/* ss-main-d */
.ss-main-d{
  display: flex;
  gap: 24px;
  text-align: left;
}
.ss-main-d h4{
font-size: 25px;
font-weight: 700;
}
.ss-main-d h6{
  color: rgb(71, 71, 71);
font-family: Open Sans;
font-size: 25px;
font-weight: 700;
line-height: 34px;
letter-spacing: 0%;
text-align: left;
margin-bottom: -12px;
}
.ss-main-d p{
  color: rgb(117, 117, 117);
font-family: Open Sans;
font-size: 16px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0%;
text-align: left;
}
.mmmm{
  margin-bottom: 50px;
}
.last-btn{
  margin-top: 40px;
  margin-bottom: 90px;
}
/* footer */
.footerd  {
  background-color: rgb(255, 240, 220);
   padding-top: 90px;
}
.fo-rg h3{
color: rgb(24, 24, 24);
font-family: Open Sans;
font-size: 28px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
 padding-bottom: 20px;
 
}
.fo-rg p{
color: rgb(71, 71, 71);
font-family: Open Sans;
font-size: 16px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0%;
text-align: left;
padding-bottom: 20px;
}
.fo-m{
  display: flex;
  width: 1000px;
  margin: 0 auto;
  gap: 90px;
}
.fo-img{
  display: flex;
}
.last-b{
  margin-bottom: 90px;
}
.l-side h3{
color: rgb(24, 24, 24);
font-family: Open Sans;
font-size: 35px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
/* text-align: center; */
}
.oo{
border-radius: 5px;

/* White Color */
background: rgb(255, 255, 255);
padding: 15px 90px 15px 25px;
border: none;
margin-bottom: 20px;
}
.ooo{
border-radius: 5px;

/* White Color */
background: rgb(255, 255, 255);
padding: 15px 90px 15px 25px;
border: none;
margin-bottom: 20px;
}
.oooo{
border-radius: 5px;

/* White Color */
background: rgb(255, 255, 255);
padding: 15px 90px 15px 25px;
border: none;
margin-bottom: 20px;
}